<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic( ~{::title},~{::#page-content} )}">

<head>
    <meta charset="UTF-8">
    <title>Các deal đang diễn ra</title>
</head>

<body>
    <div id="page-content">
        <!--Home slider-->
        <!--Collection Banner-->
        <div class="collection-header">
            <div class="collection-hero">
                <div class="collection-hero__image"><img class="blur-up lazyload"
                        data-src="/assets/images/brand-banner.png" src="/assets/images/brand-banner.png" alt="Women"
                        title="Women" /></div>
                <div class="collection-hero__title-wrapper">
                    <h1 class="collection-hero__title page-width">HÀNG NGÀN DEAL HẤP DẪN </h1>
                </div>
            </div>
        </div>
        <!--End Collection Banner-->
        <!--End Home slider-->

        <!--Featured Column-->
        <div class="section featured-column">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-header text-center">
                            <h2 class="h2"><a href="#">Các deal đang diễn ra</a></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--Featured Item-->
                    <th:block th:each="p : ${promotions}">
                        <div class="col-md-4 text-center">
                            <p>
                                <a href="#">
                                    <img class="blur-up lazyload" data-th:src="@{|/images/promotion/${p.photo}|}"
                                        th:src="@{|/images/promotion/${p.photo}|}" th:alt="${p.id}">
                                </a>
                            </p>
                        </div>
                    </th:block>
                    <!--End Featured Item-->
                </div>
            </div>
        </div>
        <!--End Featured Column-->
    </div>
</body>

</html>