<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-lg-flex flex-nowrap align-items-center">
            <div class="page-title mr-4 pr-4 border-right">
                <h1>Product Manager</h1>
            </div>

            <div class="ml-auto d-flex align-items-center secondary-menu text-center">

            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 class="card-title">Edit Product</h4>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal">
                                Edit Category
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="frmProduct">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="container">
                                        <div class="row">
                                            <img ng-src="/images/product/{{product.images[0]}}" class="imgProduct mt-2"
                                                alt="">
                                        </div>
                                        <div class="row mt-2">
                                            <fieldset ng-repeat="i in product.images" ng-if="i != product.images[0]">
                                                <a href="" ng-click="say()"><img src="/images/product/{{i}}" alt=""
                                                        class="img-thumbnail"></a>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input name="name" ng-model="product.name" required type="text"
                                                    class="form-control">
                                                <div ng-show="frmProduct.name.$invalid" class="badge badge-danger m-2">
                                                    Product not null</div>
                                            </div>
                                            <div class="form-group ">
                                                <label>Price</label>
                                                <input name="price" ng-model="product.price" required ng-min="0"
                                                    type="number" class="form-control">
                                                <div ng-show="frmProduct.price.$invalid" class="badge badge-danger m-2">
                                                    Product not null</div>
                                            </div>
                                            <div class="form-group ">
                                                <label>Create Date</label>
                                                <input ng-model="product.createDate | date: 'dd-MM-yyyy'" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="form-group ">
                                                <label>Brand</label>
                                                <select ng-model="product.brand.id" class="form-control">
                                                    <option ng-repeat="b in db.brands" ng-value="b.id">{{b.name}}
                                                    </option>
                                                </select>
                                                <!-- <div ng-show="frmProduct.name.$invalid" class="badge badge-danger m-2">Product not null</div> -->
                                            </div>
                                            <div class="form-group">
                                                <label class="mr-2">Available</label>
                                                <div class="form-check-inline">
                                                    <input ng-model="product.available" class="form-check-input"
                                                        type="radio" name="available" id="gridRadios1" ng-value="true"
                                                        ng-checked="product.available">
                                                    <label class="form-check-label" for="gridRadios1">
                                                        True
                                                    </label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <input ng-model="product.available" class="form-check-input"
                                                        type="radio" name="available" id="gridRadios2" ng-value="false"
                                                        ng-checked="product.available">
                                                    <label class="form-check-label" for="gridRadios2">
                                                        False
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Image</label>
                                                <input type="file" accept="image/*" multiple
                                                    onchange="angular.element(this).scope().imageChanged(this.files)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <button ng-disabled="frmProduct.$invalid || chon == true" ng-click="create()"
                                            class="btn btn-primary">Create</button>
                                        <button
                                            ng-disabled="frmProduct.$invalid || frmProduct.$pristine || chon == false"
                                            ng-click="update(product.id)" class="btn btn-info">Update</button>
                                        <button ng-click="reset()" class="btn btn-default">Reset</button>
                                        <button ng-disabled="chon == false" ng-click="delete(product.id)"
                                            class="btn btn-dark">Delete</button>

                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h4 class="card-title">Product Table</h4>
                        </div>
                        <div class="col-md-6">
                            <form class="justify-content-end">
                                <div class="form-group">
                                    <input oninput="angular.element(this).scope().search(this.value)" type="text"
                                        class="form-control" placeholder="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered ">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Create Date</th>
                                <th scope="col">Available</th>
                                <th scope="col">Brand</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in db.products | orderBy: p.id | limitTo : pageSize : start">
                                <th scope="row">{{p.id}}</th>
                                <td>{{p.name}}</td>
                                <td>{{p.price}}</td>
                                <td>{{p.createDate | date: 'dd-MM-yyyy'}}</td>
                                <td>{{p.available?'Yes':'No'}}</td>
                                <td>{{brandName(p.brand.id)}}</td>
                                <td class="text-right">
                                    <button ng-click="edit(p.id)" class="btn btn-primary">Edit</button>
                                    <button ng-click="delete(p.id)" class="btn btn-dark">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination mt-3 justify-content-center">
                        <li  ng-click="first()" class="page-item "><a class="page-link" href="">First</a></li>
                        <li  ng-click="prev()"  class="page-item ">
                            <a class="page-link" href="">Previous</a>
                        </li>
                        <li  ng-click="next()"  class="page-item"><a class="page-link" href="">Next</a></li>
                        <li  ng-click="last()"  class="page-item"><a class="page-link" href="">Last</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header row">
                    <div class="col-md-4 text-left">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Product Category</h5>
                    </div>
                    <div class="col-md-7">
                        <form class="justify-content-end">
                            <div class="form-group">
                                <input oninput="angular.element(this).scope().search(this.value)" type="text"
                                    class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover table-borderless  table-scroll">
                        <thead class="thead-light">
                            <tr class="ml-3">
                                <th scope="col"></th>
                                <th ng-repeat="c in db.categories" scope="col">{{c.name}}</th>
                            </tr>
                        </thead>
                        <tbody class="body-half-screen">
                            <tr ng-repeat="p in db.products" class="tooltip-test" title="{{p.name}}">
                                <th>{{p.name}}</th>
                                <th class="text-center" ng-repeat="c in db.categories">
                                    <input ng-checked="indexOf(p.id, c.id) >= 0" type="checkbox"
                                        ng-click="updateProductCates(p.id, c.id)">
                                </th>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>