<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="_footer" id="footer" class="footer-5">
            <div class="site-footer">
                <div class="container">
                    <!--Footer Links-->
                    <div class="footer-top">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                                <div class="footer-logo"><img src="/assets/images/logo.svg"
                                        alt="Belle Multipurpose Html Template"
                                        title="Belle Multipurpose Html Template" /></div>
                                <ul class="addressFooter">
                                    <li><i class="icon anm anm-map-marker-al"></i>
                                        <p>391A Nam Kỳ Khởi Nghĩa, phường 14, Quận 3, TPHCM</p>
                                    </li>
                                    <li class="phone"><i class="icon anm anm-phone-l"></i>
                                        <p>028 3526 8799</p>
                                    </li>
                                    <li class="email"><i class="icon anm anm-envelope-l"></i>
                                        <p>caodangfpt@fpt.edu.vn</p>
                                    </li>
                                </ul>
                                <div class="footer-social">
                                    <h4 class="h4">Kết nối với chúng tôi</h4>
                                    <ul class="list--inline site-footer__social-icons social-icons">
                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i
                                                    class="icon icon-facebook"></i></a></li>
                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i
                                                    class="icon icon-twitter"></i> <span
                                                    class="icon__fallback-text">Twitter</span></a></li>

                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i
                                                    class="icon icon-instagram"></i> <span
                                                    class="icon__fallback-text">Instagram</span></a></li>

                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i
                                                    class="icon icon-youtube"></i> <span
                                                    class="icon__fallback-text">YouTube</span></a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Informations</h4>
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                    <li><a href="#">Terms &amp; condition</a></li>
                                    <li><a href="#">My Account</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Customer Services</h4>
                                <ul>
                                    <li><a href="#">Request Personal Data</a></li>
                                    <li><a href="#">FAQ's</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Orders and Returns</a></li>
                                    <li><a href="#">Support Center</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="display-table">
                                    <div class="display-table-cell footer-newsletter">
                                        <form action="#" method="post">
                                            <label class="h4">Newsletter</label>
                                            <p>Be the first to hear about new trending and offers and see how you've
                                                helped.</p>
                                            <div class="input-group">
                                                <input type="email" class="input-group__field newsletter__input"
                                                    name="EMAIL" value="" placeholder="Email address" required="">
                                                <span class="input-group__btn">
                                                    <button type="submit" class="btn newsletter__submit" name="commit"
                                                        id="Subscribe"><span
                                                            class="newsletter__submit-text--large">Subscribe</span></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Footer Links-->
                    <hr>
                    <div class="footer-bottom">
                        <div class="row">
                            <!--Footer Copyright-->
                            <div
                                class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left">
                                <span></span> <a href="templateshub.net">Templates Hub</a>
                            </div>
                            <!--End Footer Copyright-->
                            <!--Footer Payment Icon-->
                            <div
                                class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                                <img src="/assets/images/safepayment.png" alt="Payment">
                            </div>
                            <!--End Footer Payment Icon-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>