<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic( ~{::title},~{::#page-content} )}">

<head>
    <meta charset="UTF-8">
    <title>Thanh toán</title>
</head>

<body>
    <!--Body Content-->
    <div id="page-content">
        <!--Page Title-->
        <div class="page section-header text-center mt-5">
            <div class="page-title">
                <div class="wrapper">
                    <h1 class="page-width">Thanh toán</h1>
                </div>
            </div>
        </div>
        <!--End Page Title-->

        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="customer-box returning-customer">
                        <h3><i class="icon anm anm-user-al"></i> Chỉnh sửa thông tin tài khoản? <a href="/account"
                                id="customer" class="text-white text-decoration-underline">Click here</a></h3>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="customer-box customer-coupon">
                        <h3 class="font-15 xs-font-13"><i class="icon anm anm-gift-l"></i> Bạn có voucher? <a
                                href="#have-coupon" class="text-white text-decoration-underline"
                                data-toggle="collapse">Click here Để nhập mã</a></h3>
                        <div id="have-coupon" class="collapse coupon-checkout-content">
                            <div class="discount-coupon">
                                <div id="coupon" class="coupon-dec tab-pane active">
                                    <label class="required get" for="coupon-code"><span class="required-f">*</span>
                                        Voucher</label>
                                    <input id="coupon-code" required="" type="text" class="mb-3">
                                    <button class="coupon-btn btn" type="submit">Dùng mã</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row billing-fields">
                <div class="col-md-6 sm-margin-30px-bottom">
                    <div class="create-ac-content bg-light-gray padding-20px-all">
                        <form name="frmOrder">
                            <fieldset>
                                <h2 class="login-title mb-3">Chi tiết thanh toán</h2>
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-email">E-Mail <span class="required-f">*</span></label>
                                        <input disabled="disabled" name="email" th:value="${account.email}"
                                            id="emailDatHang" type="email">
                                    </div>

                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6 required">
                                        <label for="input-firstname">Họ và tên<span class="required-f">*</span></label>
                                        <input disabled="disabled" name="fullname" th:value="${account.hoTen}"
                                            id="input-firstname" type="text">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6 required">
                                        <label for="input-firstname">Sđt<span class="required-f">*</span></label>
                                        <input disabled="disabled" name="sdt" th:value="${account.sdt}" id="sdtDatHang"
                                            type="text">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-6 required">
                                        <label for="input-address-1">Địa chỉ <span class="required-f">*</span></label>
                                        <input name="address" th:value="${account.diaChi}" id="diaChiDatHang" required type="text">
                                        <div ng-show="frmOrder.address.$invalid" class="badge badge-danger m-2">Vui lòng
                                            nhập địa chỉ</div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="input-company">Ghi chú<span class="required-f">*</span></label>
                                        <textarea id="ghiChu" class="form-control resize-both" rows="3"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="your-order-payment">
                        <div class="your-order">
                            <h2 class="order-title mb-4">Đơn hàng của bạn</h2>

                            <div class="table-responsive-sm order-table">
                                <table class="bg-white table table-bordered table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Số lượng</th>
                                            <th>Tổng cộng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="product-price" ng-repeat="i in cart.items">
                                            <td class="text-left"><a href="/product/{{i.id}}">{{i.product.name}}</a>
                                            </td>
                                            <td ng-if="i.discount == 0">{{i.giaBan | number: 0}}</td>
                                            <td ng-if="i.discount > 0">
                                                <p class="old-price">{{i.giaBan | number: 0}}</p>
                                                <p>{{i.giaBan * (1 - i.discount/100) | number: 0}}</p>
                                            </td>
                                            <td>{{i.qty}}</td>
                                            <td>{{cart.priceItem(i.id) | number: 0}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="font-weight-600">
                                        <tr>
                                            <td colspan="3" class="text-right font-weight-bold">Tiền sản phẩm</td>
                                            <td class="font-weight-bold">{{cart.amount | number:0}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-right font-weight-bold">Phí vận chuyển</td>
                                            <td class="font-weight-bold" id="phiGiaoHang">15000</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-right font-weight-bold">Giảm giá mã KM
                                            </td>
                                            <td class="font-weight-bold">0</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-right font-weight-bold">Tổng thanh toán</td>
                                            <td class="font-weight-bold">{{cart.amount + 15000 | number:0}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <hr />

                        <div class="your-payment">
                            <h2 class="payment-title mb-3">chọn phương thức thanh toán</h2>
                            <div class="form-group form-check col-md-12 col-lg-12 col-xl-12">
                                <label class="form-check-label padding-15px-left">
                                    <input type="radio" name="payment" class="form-check-input" value=""><strong>Thanh
                                        toán khi nhận hàng</strong>
                                </label>
                            </div>
                            <div class="form-group form-check col-md-12 col-lg-12 col-xl-12">
                                <label class="form-check-label padding-15px-left">
                                    <input type="radio" name="payment" class="form-check-input" value=""><strong>Thanh
                                        toán bằng Momo</strong>

                                </label>
                            </div>
                            <div class="form-group form-check col-md-12 col-lg-12 col-xl-12">
                                <label class="form-check-label padding-15px-left">
                                    <input type="radio" name="payment" class="form-check-input" value=""><strong>Thanh
                                        toán bằng Tài khoản ngân hàng</strong>
                                </label>
                            </div>
                            <div class="payment-method">
                                <!-- <div class="payment-accordion">
                                        <div id="accordion" class="payment-section">                                            
                                            <div class="card mb-2">
                                                <div class="card-header">
                                                    <a class="collapsed card-link" data-toggle="collapse"
                                                        href="#collapseFour"> Payment Information </a>
                                                </div>
                                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <fieldset>
                                                            <div class="row">
                                                                <div
                                                                    class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-cardname">Name on Card <span
                                                                            class="required-f">*</span></label>
                                                                    <input name="cardname" value=""
                                                                        placeholder="Card Name" id="input-cardname"
                                                                        class="form-control" type="text">
                                                                </div>
                                                                <div
                                                                    class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-country">Credit Card Type <span
                                                                            class="required-f">*</span></label>
                                                                    <select name="country_id" class="form-control">
                                                                        <option value=""> --- Please Select ---
                                                                        </option>
                                                                        <option value="1">American Express</option>
                                                                        <option value="2">Visa Card</option>
                                                                        <option value="3">Master Card</option>
                                                                        <option value="4">Discover Card</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div
                                                                    class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-cardno">Credit Card Number <span
                                                                            class="required-f">*</span></label>
                                                                    <input name="cardno" value=""
                                                                        placeholder="Credit Card Number"
                                                                        id="input-cardno" class="form-control"
                                                                        type="text">
                                                                </div>
                                                                <div
                                                                    class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label for="input-cvv">CVV Code <span
                                                                            class="required-f">*</span></label>
                                                                    <input name="cvv" value=""
                                                                        placeholder="Card Verification Number"
                                                                        id="input-cvv" class="form-control" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div
                                                                    class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <label>Expiration Date <span
                                                                            class="required-f">*</span></label>
                                                                    <input type="date" name="exdate"
                                                                        class="form-control">
                                                                </div>
                                                                <div
                                                                    class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                                                    <img class="padding-25px-top xs-padding-5px-top"
                                                                        src="assets/images/payment-img.jpg" alt="card"
                                                                        title="card" />
                                                                </div>
                                                            </div>
                                                        </fieldset>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                <div class="order-button-payment">
                                    <button ng-disabled="frmOrder.$invalid" ng-click="order.purchase()" class="btn"
                                        value="Place order" type="submit">Đặt hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--End Body Content-->
</body>

</html>