<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer th:fragment="_footer" id="footer" class="footer-5">
            <div class="site-footer">
                <div class="container">
                    <!--Footer Links-->
                    <div class="footer-top">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                                <div class="footer-logo"><img src="/assets/images/logo.svg"
                                        alt="Belle Multipurpose Html Template"
                                        title="Belle Multipurpose Html Template" /></div>
                                <ul class="addressFooter">
                                    <li><i class="icon anm anm-map-marker-al"></i>
                                        <p>632/13 Ấp Kế Mỹ, X. Trường Bình, H. Cần Giuộc, Long An</p>
                                    </li>
                                    <li class="phone"><i class="icon anm anm-phone-l"></i>
                                        <p>+8438 123 4567</p>
                                    </li>
                                    <li class="email"><i class="icon anm anm-envelope-l"></i>
                                        <p>phucnguyenhoang769@gmail.com</p>
                                    </li>
                                </ul>
                                <div class="footer-social">
                                    <h4 class="h4">Kết nối với chúng tôi</h4>
                                    <ul class="list--inline site-footer__social-icons social-icons">
                                        <li><a class="social-icons__link" href="#" target="_blank"
                                                title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i
                                                    class="icon icon-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Về Quầy Thốc 99</h4>
                                <ul>
                                    <li><a href="#">Chính sách bán hàng</a></li>
                                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                                    <li><a href="#">Điều khoản &amp; điều kiện</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                                <h4 class="h4">Khách hàng</h4>
                                <ul>
                                    <li><a href="#">Tra cứu đơn hàng</a></li>
                                    <li><a href="#">Trung tâm bảo hành</a></li>
                                    <li><a href="#">Tài khoản của tôi</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="display-table">
                                    <div class="display-table-cell footer-newsletter">
                                        <form action="#" method="post">
                                            <label class="h4">Đăng ký nhận khuyến mãi mới nhất từ Quầy Thuốc 99</label>
                                            <div class="input-group">
                                                <input type="email" class="input-group__field newsletter__input"
                                                    name="EMAIL" value="" placeholder="Email address" required="">
                                                <span class="input-group__btn">
                                                    <button type="submit" class="btn newsletter__submit" name="commit"
                                                        id="Subscribe"><span
                                                            class="newsletter__submit-text--large">Subscribe</span></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Footer Links-->
                    <hr>
                    <div class="footer-bottom">
                        <div class="row">
                            <!--Footer Copyright-->
                            <!--End Footer Copyright-->
                            <!--Footer Payment Icon-->
                            <div
                                class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                                <img src="/assets/images/safepayment.png" alt="Payment">
                            </div>
                            <!--End Footer Payment Icon-->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>