<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<div th:fragment="_slide" class="slideshow slideshow-wrapper pb-section">
                <div class="home-slideshow">
                    <div class="slide slideshow--medium">
                        <div class="blur-up lazyload">
                            <img class="blur-up lazyload" data-src="./images/banner/banner1.png"
                                src="./images/banner/banner1.png" alt="The One" title="The One" />
                        </div>
                    </div>
                    <div class="slide slideshow--medium">
                        <div class="blur-up lazyload">
                            <img class="blur-up lazyload" data-src="./images/banner/banner2.png"
                                src="./images/banner/banner2.png" alt="Editors Picks"
                                title="Editors Picks" />
                        </div>
                    </div>
                     <div class="slide slideshow--medium">
                        <div class="blur-up lazyload">
                            <img class="blur-up lazyload" data-src="./images/banner/banner3.png"
                                src="./images/banner/banner3.png" alt="Editors Picks"
                                title="Editors Picks" />
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>