<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic( ~{::title},~{::#page-content} )}">

<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>

<body>
    <div id="page-content">
			<!--Collection Banner-->
			<div class="collection-header">
				<div class="collection-hero">
					<div class="collection-hero__image">
						<img class="blur-up lazyload"
							data-src="/assets/images/product-banner.png"
							src="/assets/images/product-banner.png" alt="Women" title="Women" />
					</div>
					<div class="collection-hero__title-wrapper">
						<h1 class="collection-hero__title page-width">FREESHIP ĐƠN HÀNG TRÊN 200K</h1>
					</div>
				</div>
			</div>
			<!--End Collection Banner-->

			<div class="container mt-5">
				<div class="row">
					<!--Sidebar-->
					<div class="col-md-3 sidebar filterbar">
						<div class="closeFilter d-block d-md-none d-lg-none">
							<i class="icon icon anm anm-times-l"></i>
						</div>
						<div class="sidebar_tags">
							<!--Categories-->
							<div class="sidebar_widget categories filter-widget">
								<div class="widget-title">
									<h2>Chăm sóc da mặt</h2>
								</div>
								<div class="widget-content">
									<ul class="sidebar_categories">
										<li th:each="c : ${cates}" class="lvl-1"><a th:href="@{|/product/list?cid=${c.id}|}" class="site-nav">[[${c.name}]]</a></li>
										
									</ul>
								</div>
							</div>
							<!--Categories-->
							<!--Price Filter-->
							<div class="sidebar_widget filterBox filter-widget">
								<div class="widget-title">
									<h2>Giá</h2>
								</div>
								<form action="">
									<button formaction="/product/list/price/under100" class="btn mb-2 btn--secondary">Dưới 100K</button>
									<button formaction="/product/list/price/100-300" class="btn mb-2 btn--secondary">Từ 100K - 300K</button>
									<button formaction="/product/list/price/300-900" class="btn mb-2 btn--secondary">Từ 300K - 900K</button>
									<button formaction="/product/list/price/over900"class="btn mb-2 btn--secondary">Trên 900K</button>
								</form>
							</div>
							<!--End Price Filter-->

							<!--Brand-->
							<div class="sidebar_widget filterBox filter-widget">
								<div class="widget-title">
									<h2>Brands</h2>
								</div>
								<ul>
									<form action="/product/list/brand">
										<li th:each="b : ${brands}"><input type="checkbox" name="bid" th:value="${b.id}" id="check1">
											<label for="check1"><span><span></span></span>[[${b.name}]]</label></li>
										<button class="btn mt-2">Lọc</button>
									</form>
								</ul>
							</div>
							<!--End Brand-->

						</div>
					</div>
					<!--End Sidebar-->
					<!--Main Content-->
					<div class="col-md-9 main-col">
						<div class="productList">
							<!--Toolbar-->
							<button type="button"
								class="btn btn-filter d-block d-md-none d-lg-none">
								Product Filters</button>
							<div class="toolbar">
								<div class="filters-toolbar-wrapper">
									<div class="row">


										<div class="col-4 col-md-4 col-lg-4 text-left">
											<div class="filters-toolbar__item">
												<label for="SortBy" class="hidden">Lọc</label> <select
													name="SortBy" id="SortBy"
													class="filters-toolbar__input filters-toolbar__input--sort">
													<option value="title-ascending" selected="selected">Sort</option>
													<option>Hàng mới</option>
													<option>Giá thấp</option>
													<option>Giá cao</option>
												</select> <input class="collection-header__default-sort"
													type="hidden" value="manual">
											</div>
										</div>

									</div>
								</div>
							</div>
							<!--End Toolbar-->
							<div class="grid-products grid--view-items">
								<div class="row">

										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										<div class="col-md-3 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a href="/product/1"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-src="/images/product/fba867db.jpg"
													src="/images/product/73104d40.jpg"
													alt="" title=""> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-src="/images/product/c753c0ae.jpg"
													src="/images/product/c753c0ae.jpg"
													alt=" " title=" "> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a href="#">Tonner Zakka</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">350000</span>
												</div>
												<!-- End product price -->
											</div>
											<!-- End product details -->
										</div>
										
								</div>
								<div class="row">
									<div class="text-center col-md-12">
										<input type="submit" class="btn mb-3" value="Xem thêm">
									</div>
								 </div>
							</div>
						</div>
						<hr class="clear">
					</div>
					<!--End Main Content-->
				</div>
			</div>
			<!--Store Feature-->
			<div class="store-feature section">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-12 col-lg-12">
							<ul class="display-table store-info">
								<li class="display-table-cell">
									<i class="icon anm anm-truck-l"></i>
									<h5>Miễn phí vận chuyển</h5>
									<span class="sub-text">
										Đối với đơn từ 200k trong nội thành TPHCM
									</span>
								</li>
								<li class="display-table-cell">
									<i class="icon anm anm-money-bill-ar"></i>
									<h5>Nhiều khuyến mãi hấp dẫn</h5>
									<span class="sub-text">
										Hàng ngàn ưu đãi cực sốc được cập nhật mỗi ngày
									</span>
								</li>
								<li class="display-table-cell">
									<i class="icon anm anm-comments-l"></i>
									<h5>Sản phẩm chính hãng</h5>
									<span class="sub-text">
										Cam kết hoàn tiền 300% giá trị sản phẩm nếu phát hiện hàng không chính hãng
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--End Store Feature-->
		</div>
</body>

</html>