<th:block th:each="p : ${products}">
										<div class="col-6 col-sm-6 col-md-4 col-lg-4 item">
											<!-- start product image -->
											<div class="product-image">
												<!-- start product image -->
												<a th:href="@{|/product/detail/${p.product.id}|}"> 
													<!-- image --> <img
													class="product primary blur-up lazyload"
													data-th:src="@{|/images/product/${p.images[0]}|}"
													th:src="@{|/images/product/${p.images[0]}|}"
													th:alt="${p.product.name}" th:title="${p.product.name}"> 
													<!-- End image --> 
													<!-- Hover image -->
													<img class="product hover blur-up lazyload"
													data-th:src="@{|/images/product/${p.images[1]}|}"
													th:src="@{|/images/product/${p.images[1]}|}"
													th:alt="${p.product.name}" th:title="${p.product.name}"> 
													<!-- End hover image -->
												</a>
												<!-- end product image -->
	
												<!-- Start product button -->
												<form class="variants add">
													<button th:attr=" ng-click=@{|cart.add(${p.product.id})|} " class="btn btn-addto-cart" type="button">Add To Cart</button>
												</form>
												<div class="button-set">
													
													<div class="wishlist-btn">
														<a class="wishlist add-to-wishlist" href="#"
															title="Add to Wishlist"> <i
															class="icon anm anm-heart-l"></i>
														</a>
													</div>
													
												</div>
												<!-- end product button -->
											</div>
											<!-- end product image -->
	
											<!--start product details -->
											<div class="product-details text-center">
												<!-- product name -->
												<div class="product-name">
													<a th:href="@{|/product/detail/${p.product.id}|}">[[${p.product.name}]]</a>
												</div>
												<!-- End product name -->
												<!-- product price -->
												<div class="product-price">
													<span class="price">[[${#numbers.formatDecimal(p.product.price,0,'COMMA',0,'POINT')}]]</span>
												</div>
												<!-- End product price -->
												<!-- Variant -->
												<ul class="swatches">
													<li th:each="i : ${p.images}" class="swatch medium rounded"><img
														th:src="@{|/images/product/${i}|}" alt="image" />
													</li>
												</ul>
												<!-- End Variant -->
											</div>
											<!-- End product details -->
										</div>
										
									</th:block>