<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<aside th:fragment="_aside" class="app-navbar">
                    <!-- begin sidebar-nav -->
                    <div class="sidebar-nav scrollbar scroll_light aside-custom">
                        <ul class="metismenu " id="sidebarNav">
                            <li class="li-custom active">
                                <a class="has-arrow" href="#" aria-expanded="false">
                                    <i class="nav-icon ti ti-rocket"></i>
                                    <span class="nav-title">Tổng quan</span>
                                </a>
                            </li>
                            <li><a href="#!account" aria-expanded="false"><i class="fa-solid fa-address-book"></i><span class="nav-title">Quản lý tài khoản</span></a> </li>
                            <li><a href="#!brand" aria-expanded="false"><i class="fa-solid fa-boxes-stacked"></i><span class="nav-title">Quản lý thương hiệu</span></a> </li>
                            <li><a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-box-open"></i><span class="nav-title">Quản lý danh mục</span></a> 
                            	<ul aria-expanded="false">
                                    <li> <a href='#!category'>Danh mục</a> </li>
                                    <li> <a href='#!sub-category'>Danh mục con</a> </li>
                                </ul>
                            </li>
                            <li><a href="#!product" aria-expanded="false"><i class="fas fa-file-invoice-dollar"></i><span class="nav-title">Quản lý sản phẩm</span></a> </li>
                            <li><a href="#!order" aria-expanded="false"><i class="fas fa-file-invoice-dollar"></i><span class="nav-title">Quản lý hóa đơn</span></a> </li>
                        </ul>
                    </div>
                    <!-- end sidebar-nav -->
                </aside>
</body>
</html>