<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic( ~{::title},~{::#page-content} )}">

<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
</head>

<body>
	<div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center mt-5">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Thông tin tài khoản</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
        		<!--Sidebar-->
				<div th:replace="~{account/_aside ::_aside}"></div>
				<!--End Sidebar-->
        		<div class="col-md-9">
        			<div class="row billing-fields">
        				<div class="col-md-12 sm-margin-30px-bottom">
        					<div class="create-ac-content bg-light-gray padding-20px-all row">
		        				<div class="col-md-12">
	        						<form name="frmChangepw" action="/account/change-password" method="POST">
										<div th:if="${success != null}"
											class="alert alert-primary alert-dismissible fade show font-custom" role="alert">
											<strong>[[${success}]]</strong>
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div th:if="${error != null}"
											class="alert alert-danger alert-dismissible fade show font-custom"
											role="alert">
											<strong>[[${error}]]</strong>
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
		                                <fieldset>
		                                    <h2 class="login-title mb-3">Đổi mật khẩu</h2>
		                                    <div class="row">
		                                        <div class="form-group col-md-12 required">
		                                            <label for="input-email">Mật khẩu cũ <span class="required-f">*</span></label>
		                                            <input  ng-model="oldPassword" required name="oldPassword" id="input-email" type="password">
													<div ng-show="frmChangepw.oldPassword.$invalid"
														class="badge badge-danger m-2">Vui lòng nhập mật khẩu cũ</div>
		                                        </div>
		                                    </div>
		                                </fieldset>
		                                <fieldset>
		                                    <div class="row">
		                                        <div class="form-group col-md-12 required">
		                                            <label for="input-firstname">Mật khẩu mới<span
		                                                    class="required-f">*</span></label>
		                                            <input ng-model="newPassword" required name="newPassword" id="input-firstname" type="password">
													<div ng-show="frmChangepw.newPassword.$invalid"
														class="badge badge-danger m-2">Vui lòng nhập mật khẩu mới</div>
		                                        </div>
		                                    </div>
		                                </fieldset>
		                                <fieldset>
		                                    <div class="row">
		                                        <div class="form-group col-md-12 required">
		                                            <label for="input-firstname">Xác nhận mật khẩu mới<span
		                                                    class="required-f">*</span></label>
		                                            <input ng-model="newPassword1" required name="newPassword1" id="input-firstname" type="password">
													<div ng-show="frmChangepw.newPassword1.$invalid"
														class="badge badge-danger m-2">Vui lòng nhập xác nhận mật khẩu</div>
													<div ng-show="newPassword != newPassword1"
														class="badge badge-danger m-2">Xác nhận mật khẩu không đúng</div>
		                                        </div>
		                                    </div>
		                                </fieldset>
		                                <div class="row">
											<div class="text-center col-md-12">
												<button ng-disabled="frmChangepw.$invalid" type="submit" class="btn mb-3">Đổi mật khẩu</button>
											</div>
										</div>
	                            	</form>
		        				
		        				</div>
        					</div>
        				</div>
        				
        			</div>
        		</div>
            </div>
        </div>
        
    </div>
</body>

</html>