<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic( ~{::title},~{::#page-content} )}">

<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
</head>

<body>
	<div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center mt-5">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Thông tin tài khoản</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
        		<!--Sidebar-->
				<div th:replace="~{account/_aside ::_aside}"></div>
				<!--End Sidebar-->
        		<div class="col-md-9">
        			<div class="row billing-fields">
        				<div class="col-md-12 sm-margin-30px-bottom">
        					<div class="create-ac-content bg-light-gray padding-20px-all row">
		        				<div class="col-md-12">
	        						<form name="frmOrder">
		                                <fieldset>
		                                    <h2 class="login-title mb-3">Đổi mật khẩu</h2>
		                                    <div class="row">
		                                        <div class="form-group col-md-12 required">
		                                            <label for="input-email">Mật khẩu cũ <span class="required-f">*</span></label>
		                                            <input disabled="disabled" name="email" value="${userDetail.email}" id="input-email" type="email">
		                                        </div>
		                                    </div>
		                                </fieldset>
		                                <fieldset>
		                                    <div class="row">
		                                        <div class="form-group col-md-12 required">
		                                            <label for="input-firstname">Mật khẩu mới<span
		                                                    class="required-f">*</span></label>
		                                            <input disabled="disabled" name="fullname" value="${userDetail.fullname}" id="input-firstname" type="text">
		                                        </div>
		                                    </div>
		                                </fieldset>
		                                <fieldset>
		                                    <div class="row">
		                                        <div class="form-group col-md-12 required">
		                                            <label for="input-firstname">Xác nhận mật khẩu mới<span
		                                                    class="required-f">*</span></label>
		                                            <input disabled="disabled" name="fullname" value="${userDetail.fullname}" id="input-firstname" type="text">
		                                        </div>
		                                    </div>
		                                </fieldset>
		                                <div class="row">
											<div class="text-center col-md-12">
												<button ng-disabled="frmregister.$invalid" type="submit" class="btn mb-3">Đổi mật khẩu</button>
											</div>
										</div>
	                            	</form>
		        				
		        				</div>
        					</div>
        				</div>
        				
        			</div>
        		</div>
            </div>
        </div>
        
    </div>
</body>

</html>