<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic( ~{::title},~{::#page-content} )}">

<head>
    <meta charset="UTF-8">
    <title>Thông tin tài khoản</title>
</head>

<body>
	<div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center mt-5">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Thông tin tài khoản</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
        		<!--Sidebar-->
				<div th:replace="~{account/_aside ::_aside}"></div>
				<!--End Sidebar-->
        		<div class="col-md-9">
        			<div class="row billing-fields">
        				<div class="col-md-12 sm-margin-30px-bottom">
        					<div class="create-ac-content bg-light-gray padding-20px-all row">
		        				<div class="col-md-3">
		        					<br />
		        					<br />
		        					<label for="">
		        						<img src="/images/account/95f87bbd.jpg" alt="" />
		        					</label>
		        				</div>
		        				<div class="col-md-9">
	        						<form name="frmOrder">
		                                <fieldset>
		                                    <h2 class="login-title mb-3">Thông tin chung</h2>
		                                    <div class="row">
		                                        <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
		                                            <label for="input-email">E-Mail <span class="required-f">*</span></label>
		                                            <input disabled="disabled" name="email" value="${userDetail.email}" id="input-email" type="email">
		                                        </div>
												<div class="form-group col-md-6 required">
		                                            <label for="input-firstname">Họ và tên<span
		                                                    class="required-f">*</span></label>
		                                            <input disabled="disabled" name="fullname" value="${userDetail.fullname}" id="input-firstname" type="text">
		                                        </div>
		                                    </div>
		                                </fieldset>
		                                <fieldset>
		                                    <div class="row">
		                                        <div class="form-group col-md-6 required">
		                                            <label class="mr-2" for="gender">Ngày sinh</label>
													<input type="date" ng-model="dob" name="dob" required placeholder="" id="dob" autofocus="">
		                                        </div>
		                                        <div class="form-group col-md-6 required">
		                                            <label class="mb-3" for="gender">Giới tính</label><br />
													<input type="radio" name="gender" id=""> <label class="mr-2" for="gender">Nam</label>
													<input type="radio" name="gender" id=""> <label for="gender">Nữ</label>
		                                        </div>
		                                    </div>
		                                </fieldset>
		                                <fieldset>
		                                    <div class="row">
		                                        <div class="form-group col-md-6 required">
		                                            <label for="input-firstname">Sđt<span
		                                                    class="required-f">*</span></label>
		                                            <input name="sdt" value="${userDetail.sdt}" id="input-firstname" type="text">
		                                        </div>
		                                        <div class="form-group col-md-6">
		                                            <label for="input-company">Avatar<span
		                                                    class="required-f">*</span></label>
		                                            <input type="file" />
		                                        </div>
		                                    </div>
		                                </fieldset>
		                                <fieldset>
		                                    <div class="row">
		                                        <div class="form-group col-md-6 required">
		                                            <label for="input-address-1">Điểm tích lũy <span
		                                                    class="required-f">*</span></label>
		                                            <input name="address" ng-model="order.address" id="input-address-1" required type="text">
		                                            <div ng-show="frmOrder.address.$invalid" class="badge badge-danger m-2">Vui lòng nhập địa chỉ</div>
		                                        </div>
		                                    </div>
		                                </fieldset>
		                                <div class="row">
											<div class="text-center col-md-12">
												<button ng-disabled="frmregister.$invalid" type="submit" class="btn mb-3">Chỉnh sửa</button>
											</div>
										</div>
	                            	</form>
		        				
		        				</div>
        					</div>
        				</div>
        				
        			</div>
        		</div>
            </div>
        </div>
        
    </div>
</body>

</html>