<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{index :: dynamic( ~{::title},~{::#page-content} )}">

<head>
<meta charset="UTF-8">
<title>Đăng ký</title>
</head>

<body ng-controller="register">
	<!--Body Content-->
	<div class="mt-5" id="page-content">
		<!--Page Title-->
		<div class="page section-header text-center">
			<div class="page-title">
				<div class="wrapper">
					<h1 class="page-width">Đăng ký tài khoản</h1>
				</div>
			</div>
		</div>
		<!--End Page Title-->

		<div class="container">
			<div class="row">
				<div class="col-md-6 main-col offset-md-3">
					<div class="mb-4">
						<form th:object="${account}" name="frmregister" method="post" action="/process-register"
							id="CustomerLoginForm" accept-charset="UTF-8"
							class="contact-form">
							<div th:if="${success != null}" class="alert alert-primary alert-dismissible fade show"
                                role="alert">
                                <strong>[[${success}]]</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show font-custom"
                                role="alert">
                                <strong>[[${error}]]</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="CustomerEmail">Email</label> <input type="email" th:field="*{email}" name="email" ng-model="email" required placeholder=""
											id="CustomerEmail" class="" autocorrect="off"
											autocapitalize="off" autofocus="">
										<div ng-show="frmregister.email.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập email</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="FirstName">Họ và tên</label> <input type="text" th:field="*{hoTen}" name="hoTen" ng-model="hoTen" required placeholder=""
											id="FirstName" autofocus="">
										<div ng-show="frmregister.hoTen.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập họ và tên</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="mr-2" for="gender">Giới tính</label>
										<input type="radio" th:field="*{gioiTinh}" name="gioiTinh" value="true" id=""> <label class="mr-2" for="gender">Nam</label>
										<input type="radio" th:field="*{gioiTinh}" name="gioiTinh" value="false" id=""> <label for="gender">Nữ</label>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="dob">Ngày sinh</label> <input type="text" th:field="*{ngaySinh}" name="ngaySinh" ng-model="ngaySinh" validate_day required placeholder=""
											id="dob" autofocus="">
										<div ng-show="frmregister.ngaySinh.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập ngày sinh (yyyy/mm/dd)</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="sdt">Sđt</label> <input type="text" th:field="*{sdt}" name="sdt" ng-model="sdt" validate_sdt required placeholder=""
											id="sdt" autofocus="">
										<div ng-show="frmregister.sdt.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập sđt</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="CustomerPassword">Mật khẩu</label> <input
											type="password" th:field="*{matKhau}" required
											name="matKhau" ng-model="matKhau" placeholder="" id="CustomerPassword" class="">
										<div ng-show="frmregister.matKhau.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập mật khẩu</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="CustomerPassword">Xác nhận mật khẩu</label> <input
											type="password" name="matKhau1" ng-model="matKhau1" required placeholder=""
											id="CustomerPassword" class="">
										<div ng-show="frmregister.matKhau1.$invalid"
											class="badge badge-danger m-2">Vui lòng nhập xác nhận
											mật khẩu</div>
										<div ng-show="matKhau != matKhau1"
											class="badge badge-danger m-2">Xác nhận mật khẩu không
											đúng</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="text-center col-md-12">
									<button ng-disabled="frmregister.$invalid" type="submit"
										class="btn mb-3">Tạo tài khoản</button>
										<p class="mb-4">
											<a href="/account/login" id="customer_register_link">Login</a>&nbsp; | &nbsp;
											<a href="/account/forgot" id="RecoverPassword">Quên mật khẩu</a> 
										</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--End Body Content-->
</body>

</html>