<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic( ~{::title},~{::#page-content} )}">

<head>
    <meta charset="UTF-8">
    <title>Brand List</title>
</head>

<body>
    <div id="page-content">
        <!--Home slider-->
        <!--Collection Banner-->
        <div class="collection-header">
            <div class="collection-hero">
                <div class="collection-hero__image"><img class="blur-up lazyload"
                        data-src="/assets/images/brand-banner.png" src="/assets/images/brand-banner.png" alt="Women"
                        title="Women" /></div>
                <div class="collection-hero__title-wrapper">
                    <h1 class="collection-hero__title page-width">CAM KẾT CHÍNH HÃNG </h1>
                </div>
            </div>
        </div>
        <!--End Collection Banner-->
        <!--End Home slider-->

        <!--Image Banners-->
        <div class="section imgBanners pb-0">
            <div class="imgBnrOuter">
                <div class="container-fluid">
                    <br><br><br>
                        <div class="row">
                            <!-- <th:block th:each="b : ${brands}"> -->
                                <div class="col-md-3 mt-3 image-banner-3">
                                    <div class="inner topright">
                                        <a href="/product">
                                            <img data-src="/images/brand/dc57e2c3.jpg"
                                                src="/images/brand/dc57e2c3.jpg"
                                                alt="Heeled Boots" title="Heeled Boots" class="blur-up lazyload" />
                                            <div class="ttl">
                                                <h5>Dermarium</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3 image-banner-3">
                                    <div class="inner topright">
                                        <a href="/product">
                                            <img data-src="/images/brand/dc57e2c3.jpg"
                                                src="/images/brand/dc57e2c3.jpg"
                                                alt="Heeled Boots" title="Heeled Boots" class="blur-up lazyload" />
                                            <div class="ttl">
                                                <h5>Dermarium</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3 image-banner-3">
                                    <div class="inner topright">
                                        <a href="/product">
                                            <img data-src="/images/brand/dc57e2c3.jpg"
                                                src="/images/brand/dc57e2c3.jpg"
                                                alt="Heeled Boots" title="Heeled Boots" class="blur-up lazyload" />
                                            <div class="ttl">
                                                <h5>Dermarium</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3 image-banner-3">
                                    <div class="inner topright">
                                        <a href="/product">
                                            <img data-src="/images/brand/dc57e2c3.jpg"
                                                src="/images/brand/dc57e2c3.jpg"
                                                alt="Heeled Boots" title="Heeled Boots" class="blur-up lazyload" />
                                            <div class="ttl">
                                                <h5>Dermarium</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 mt-3 image-banner-3">
                                    <div class="inner topright">
                                        <a href="/product">
                                            <img data-src="/images/brand/dc57e2c3.jpg"
                                                src="/images/brand/dc57e2c3.jpg"
                                                alt="Heeled Boots" title="Heeled Boots" class="blur-up lazyload" />
                                            <div class="ttl">
                                                <h5>Dermarium</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <!-- </th:block> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Image Banners-->
    </div>
</body>

</html>