
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                                    <div class="page-title mr-4 pr-4 border-right">
                                        <h1>Brands Manager</h1>
                                    </div>

                                    <div class="ml-auto d-flex align-items-center secondary-menu text-center">

                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Edit Brand</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 text-center">
                                                <label>
                                                    <img ng-src="/images/brand/{{brand.image}}" class="logo" alt="">
                                                </label>
                                            </div>
                                            <div class="col-md-8">
                                                <form name="frmBrand">
                                                    <div class="form-group">
                                                        <label>Brand ID</label>
                                                        <input name="id" ng-model="brand.id" required type="text" class="form-control">
                                                        <div ng-show="frmBrand.id.$invalid" class="badge badge-danger m-2">Id not null</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Brand Name</label>
                                                        <input name="name" ng-model="brand.name" required type="text" class="form-control">
                                                        <div ng-show="frmBrand.name.$invalid" class="badge badge-danger m-2">Id not null</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Logo</label>                                                        
                                                        <input type="file" accept="image/*" onchange="angular.element(this).scope().imageChanged(this.files)">
                                                    </div>
                                                    <button ng-disabled="frmBrand.$invalid || chon == true" ng-click="create()" class="btn btn-primary">Create</button>
                                                    <button ng-disabled="frmBrand.$invalid || frmBrand.$pristine || chon == false" ng-click="update(brand.id)" class="btn btn-info">Update</button>
                                                    <button ng-click="reset()" class="btn btn-secondary">Reset</button>
                                                    <button ng-disabled="chon == false" ng-click="delete(brand.id)" class="btn btn-dark">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <div class="row">
                                                <div class="col-md-6 text-left">
                                                    <h4 class="card-title">Brand Table</h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <form class="justify-content-end">
                                                        <div class="form-group">
                                                            <input oninput="angular.element(this).scope().search(this.value)" type="text" class="form-control" placeholder="Search">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered">
                                                <thead class="thead-light">
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Brand Id</th>
                                                    <th scope="col">Brand Name</th>
                                                    <th scope="col">Logo</th>
                                                    <th scope="col"></th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr ng-repeat="brand in brands">
                                                    <th scope="row">{{$index+1}}</th>
                                                    <td>{{brand.id}}</td>
                                                    <td>{{brand.name}}</td>
                                                    <td>{{brand.image}}</td>
                                                    <td class="text-right">
                                                        <button ng-click="edit(brand.id)" class="btn btn-primary">Edit</button>
                                                        <button ng-click="delete(brand.id)" class="btn btn-dark">Delete</button>
                                                        
                                                    </td>
                                                  </tr>                                                  
                                                </tbody>
                                              </table>                                                                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
