<div class="row">
	<div class="col-md-12 m-b-30">
		<!-- begin page title -->
		<div class="d-block d-lg-flex flex-nowrap align-items-center">
			<div class="page-title mr-4 pr-4 border-right">
				<h1>Quản lý sản phẩm</h1>
			</div>

			<div
				class="ml-auto d-flex align-items-center secondary-menu text-center">
				<button type="button" class="btn btn-primary" ng-click="reset()"
					data-toggle="modal" data-target="#largeModal">Thêm sản
					phẩm</button>
			</div>
		</div>
		<!-- end page title -->
	</div>
</div>
<!-- end row -->
<!-- begin row -->
<div class="row">
	<div class="col-md-12 ">
		<div class="card card-statistics">
			<div class="card-header">
				<div class="card-heading">
					<div class="row">
						<div class="col-md-6 text-left">
							<h4 class="card-title">Danh sách sản phẩm</h4>
						</div>
						<div class="col-md-6">
							<form class="justify-content-end">
								<div class="form-group">
									<input
										oninput="angular.element(this).scope().search(this.value)"
										type="text" class="form-control" placeholder="Search">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover table-bordered ">
						<thead class="thead-light">
							<tr>
								<th scope="col">Mã SP</th>
								<th scope="col">Tên SP</th>
								<th scope="col">Số DK</th>
								<th scope="col">Hãng sx</th>
								<th scope="col">Loại sản phẩm</th>
								<th scope="col">Đơn vị</th>
								<th scope="col">Rx</th>
								<th scope="col">Hoạt động</th>
								<th scope="col">Ghi chú</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="p in products">
								<th scope="row">{{p.id}}</th>
								<td>{{p.name}}</td>
								<td>{{p.soDangKy}}</td>
								<td>{{p.brand.name}}</td>
								<td>{{p.subCategory.name}}</td>
								<td>{{p.donViGoc}}</td>
								<td>{{p.rx?'Yes':'No'}}</td>
								<td>{{p.active?'Yes':'No'}}</td>
								<td>{{p.ghiChu}}</td>
								<td class="text-right">
									<button ng-click="edit(p.id)" class="btn btn-primary" data-toggle="modal" data-target="#largeModal"><i class="fa-solid fa-pen"></i></button>
									<button ng-click="delete(p.id)" class="btn btn-dark"><i class="fa-solid fa-circle-xmark"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<nav aria-label="...">
					<ul class="mt-2 pagination justify-content-center">
						<li id="first" ng-click="first()" class="page-item disabled"><a
							class="page-link" href=""><i
								class="fa-solid fa-backward-step"></i></a></li>
						<li id="prev" ng-click="prev()" class="page-item disabled"><a
							class="page-link" href=""><i class="fa-solid fa-angles-left"></i></a></li>
						<li class="page-item"><a class="page-link" href="">{{start+1}}/{{totalPage}}</a></li>
						<li id="next" ng-click="next()" class="page-item"><a
							class="page-link" href=""><i class="fa-solid fa-angles-right"></i></a></li>
						<li id="last" ng-click="last()" class="page-item"><a
							class="page-link" href=""><i class="fa-solid fa-forward-step"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog"
	aria-labelledby="largeModal" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Thông tin sản phẩm {{product.name}}</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4 text-center">
						<label> <img ng-src="/images/product/{{product.photo}}"
							class="logo" alt="">
						</label>
					</div>
					<div class="col-md-8">
						<form name="frmProduct">
							<div class="row mt-2">
								<div class="col">
									<label>Mã sản phẩm</label> <input name="id"
										ng-model="product.id" required type="text"
										ng-disabled="true" placeholder="Mã tự động" class="form-control">
								</div>
								<div class="col">
									<label>Tên sản phẩm</label> <input name="name"
										ng-model="product.name" required type="text"
										class="form-control">
									<div ng-show="frmProduct.name.$invalid"
										class="badge badge-danger m-2">Tên sản phẩm không được để
										trống</div>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col">
									<label>Số đăng ký</label> <input name="soDangKy"
										ng-model="product.soDangKy" required type="text"
										class="form-control">
									<div ng-show="frmProduct.soDangKy.$invalid"
										class="badge badge-danger m-2">Số đăng ký không được để trống</div>
								</div>
								<div class="col">
									<label>Đơn vị gốc</label>
									 <input name="donViGoc" ng-model="product.donViGoc" required type="text" class="form-control">
									<div ng-show="frmProduct.donViGoc.$invalid"
										class="badge badge-danger m-2">Đơn vị không được để trống</div>
									
								</div>
							</div>
							<div class="row mt-2">
								<div class="col">
									<label>Thương hiệu</label> <select ng-model="product.brand.id"
										class="form-control">
										<option ng-repeat="b in brands" ng-value="b.id">{{b.name}}
										</option>
									</select>
								</div>
								<div class="col">
									<label>Loại sản phẩm</label> <select ng-model="product.subCategory.id"
										class="form-control">
										<option ng-repeat="s in subCates" ng-value="s.id">{{s.name}}
										</option>
									</select>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col">
									<label class="mr-2">Rx</label> <br>
									<div class="form-check-inline">
										<input ng-model="product.rx" class="form-check-input"
											type="radio" name="rx" ng-value="true"> <label
											class="form-check-label"> Yes </label>
									</div>
									<div class="form-check-inline">
										<input ng-model="product.rx" class="form-check-input"
											type="radio" name="rx" ng-value="false"> <label
											class="form-check-label">No </label>
									</div>
								</div>
								<div class="col">
									<label class="mr-2">Hoạt động</label> <br>
									<div class="form-check-inline">
										<input ng-model="product.active" class="form-check-input"
											type="radio" name="active" ng-value="true"> <label
											class="form-check-label"> Yes </label>
									</div>
									<div class="form-check-inline">
										<input ng-model="product.active" class="form-check-input"
											type="radio" name="active" ng-value="false"> <label
											class="form-check-label">No </label>
									</div>
								</div>
							</div>
							<div class="form-group mt-2">
								<label>Photo</label>
								<div class="custom-file">
									<input type="file" accept="image/*" class="custom-file-input"
										onchange="angular.element(this).scope().imageChanged(this.files)" />
									<label class="custom-file-label">Choose file</label>
								</div>
							</div>
							<div class="form-group mt-2">
								<label>Ghi chú</label>
								<textarea ng-model="product.ghiChu" class="form-control" rows="3"></textarea>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button ng-disabled="frmProduct.$invalid || chon == true"
					ng-click="create()" class="btn btn-primary">Create</button>
				<button ng-disabled="frmProduct.$invalid || chon == false"
					ng-click="update(product.id)" class="btn btn-info">Update</button>
				<button ng-click="reset()" class="btn btn-secondary">Reset</button>
				<button ng-disabled="chon == false" ng-click="delete(product.id)"
					class="btn btn-dark">Delete</button>
			</div>
		</div>
	</div>
</div>